<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setup | WOC-Lite</title>
    <link rel="icon" type="image/x-icon" href="{{ FAVICON_URL }}">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="wOpenChat-Lite is a more lightweight version of wOpenChat, a web-based chat application that allows users to communicate in real-time.">
    <meta name="theme-color" content="{{ THEME_COLOR }}">
</head>
<body>
    <h1 style="text-align: center">wOpenChat Setup</h1>
    <div class="pamphlet">
        test(wip)
    </div>
</body>