<!--
                                                                                                                    ,--,
                  ,----..                                                                                        ,---.'|
                 /   /   \                                   ,----..    ,---,                   ___              |   | :              ___
                /   .     : ,-.----.                        /   /   \ ,--.' |                 ,--.'|_            :   : |     ,--,   ,--.'|_
         .---. .   /   ;.  \\    /  \                ,---, |   :     :|  |  :                 |  | :,'     ,---,.|   ' :   ,--.'|   |  | :,'
        /. ./|.   ;   /  ` ;|   :    |           ,-+-. /  |.   |  ;. /:  :  :                 :  : ' :   ,'  .' |;   ; '   |  |,    :  : ' :
     .-'-. ' |;   |  ; \ ; ||   | .\ :   ,---.  ,--.'|'   |.   ; /--` :  |  |,--.  ,--.--.  .;__,'  /  ,---.'   ,'   | |__ `--'_  .;__,'  /     ,---.
    /___/ \: ||   :  | ; | '.   : |: |  /     \|   |  ,"' |;   | ;    |  :  '   | /       \ |  |   |   |   |    ||   | :.'|,' ,'| |  |   |     /     \
 .-'.. '   ' ..   |  ' ' ' :|   |  \ : /    /  |   | /  | ||   : |    |  |   /' :.--.  .-. |:__,'| :   :   :  .' '   :    ;'  | | :__,'| :    /    /  |
/___/ \:     ''   ;  \; /  ||   : .  |.    ' / |   | |  | |.   | '___ '  :  | | | \__\/: . .  '  : |__ :   |.'   |   |  ./ |  | :   '  : |__ .    ' / |
.   \  ' .\    \   \  ',  / :     |`-''   ;   /|   | |  |/ '   ; : .'||  |  ' | : ," .--.; |  |  | '.'|`---'     ;   : ;   '  : |__ |  | '.'|'   ;   /|
 \   \   ' \ |  ;   :    /  :   : :   '   |  / |   | |--'  '   | '/  :|  :  :_:,'/  /  ,.  |  ;  :    ;          |   ,/    |  | '.'|;  :    ;'   |  / |
  \   \  |--"    \   \ .'   |   | :   |   :    |   |/      |   :    / |  | ,'   ;  :   .'   \ |  ,   /           '---'     ;  :    ;|  ,   / |   :    |
   \   \ |        `---`     `---'.|    \   \  /'---'        \   \ .'  `--''     |  ,     .-./  ---`-'                      |  ,   /  ---`-'   \   \  /
    '---"                     `---`     `----'               `---`               `--`---'                                   ---`-'             `----'
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setup | WOC-Lite</title>
    <link rel="icon" type="image/x-icon" href="{{ FAVICON_URL }}">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="wOpenChat-Lite is a more lightweight version of wOpenChat, a web-based chat application that allows users to communicate in real-time.">
    <meta name="theme-color" content="{{ THEME_COLOR }}">
    <meta name="og:title" content="wOpenChat-Lite">
    <meta name="og:description" content="wOpenChat-Lite is a more lightweight version of wOpenChat, a web-based chat application that allows users to communicate in real-time.">
    <meta name="og:image" content="{{ FAVICON_URL }}">
    <meta name="og:type" content="website">
</head>
<body>
    <h1 style="text-align: center">404: Not Found</h1>
    <div class="pamphlet">
        <p style="text-align: center;">The selected resource has not been found.</p>
        <p style="text-align: center;"><a href="/">Return to home</a></p>
    </div>
</body>